{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mini blog</title>
  </head>
  <body>
    <nav>
      {% if user.is_authenticated %}
      <a href="home">Home</a>
      <a href="{% url 'function_logout' %}">Logout</a>
      <span>{{ user.username }}</span>
      {% else %}
      <a href="{% url 'login_page' %}">Login</a>
      <a href="register">Register</a>
      {% endif %}
    </nav>

    {% block body %} {% endblock %}
  </body>
</html>
