{% extends "miniblogapp/layout.html" %} {% block body %}
<h1>My Blogs</h1>

{% if is_user_blogs_exist %}
<div style="display: flex; flex-wrap: wrap">
  {% for blog in blogs %}
  <div style="padding: 10px">
    <form action="{% url 'edit' blog.id %}">
      <div class="card bg-light mb-3" style="max-width: 18rem">
        <div class="card-header">
          Author: {{ blog.author }}
          <button
            type="submit"
            class="btn btn-outline-warning"
            style="vertical-align: middle; margin-left: 50px"
          >
            Edit
          </button>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ blog.name }}</h5>
          <p class="card-text">{{ blog.content }}</p>
          <div class="card-footer">
            <small class="text-muted">{{ blog.category }}</small>
          </div>
        </div>
      </div>
    </form>
  </div>
  {% endfor %}
</div>
{% else %}
<h3>
  You don't have any blogs <a href="create_blog">Click ME to create a blog</a>
</h3>
{% endif %} {% endblock %}
