{% extends "miniblogapp/layout.html" %} {% block body %}
<h1>My Blogs</h1>

{% for blog in blogs %} {% if blog.open_at %}
<div class="card bg-light mb-3" style="max-width: 18rem">
  <div class="card-header">{{ blog.author }}</div>
  <div class="card-body">
    <h5 class="card-title">{{ blog.name }}</h5>
    <p class="card-text">{{ blog.content }}</p>
    <div class="card-footer">
      <small class="text-muted">{{ blog.category }}</small>
    </div>
    <button style="margin-top: 1em;" type="submit" class="btn btn-outline-danger">Delete</button>
  </div>
</div>
{% else %}
<div class="card bg-light mb-3" style="max-width: 18rem">
  <div class="card-header">{{ blog.author }}</div>
  <div class="card-body">
    <h5 class="card-title">{{ blog.name }}</h5>
    <p class="card-text">{{ blog.content }}</p>
    <div class="card-footer">
      <small class="text-muted">{{ blog.category }}</small>
    </div>
    <p style="color: red; margin-top: 10px; margin-bottom: 3px;">Blog Close</p>
  </div>
</div>
{% endif %} {% endfor %} {% endblock %}
